{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <div class="form-inline mb-3" style="width: 85%;">
        <h5 class="px-5 font-weight-bold">Data schemas</h5>
        <a href="{% url 'schema_create' %}" class="btn btn-success ml-auto mr-2">New schema</a>
    </div>
    {% if schemas %}
    <table class="table table-bordered ml-5" style="width: 80%">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Modified</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for schema in schemas %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td class="text-primary">{{ schema.title }}</td>
                <td>{{ schema.modified|date:"Y-m-d" }}</td>
                <td>
                    <div class="form-inline">
                        <a href="{% url 'schema_update' schema.pk %}" class="text-primary mr-4">Edit scheme</a>
                        <a href="{% url 'schema_delete' schema.pk %}" class="text-danger">Delete</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="text-center">No schemes</p>
    {% endif %}
</div>
{% endblock %}