{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-5">
    <h4 class="text-center font-weight-bold">New schema</h4>
    <div class="row mt-5 justify-content-center">
        <form class="col-sm-5" method="POST">
            {% csrf_token %}
            {{ form|crispy }}

            <div class="text-right">
                <button type='submit' class='btn btn-success'>Add Colummns</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}